* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backgroundImage {
    height: 100%;
    width: 100%;
}



.infoBack {
    color: #fff;
}

.backHead {
    height: 82vh;
    background-image: url('../../assets/Image/bg3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageBack {}