@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backgroundImage {
    height: 100%;
    width: 100%;
}

.backHead {
    width: 100%;
    height: 90vh;
    background-image:  linear-gradient(to right, rgb(239, 241, 239) , rgba(109, 137, 138, 0.158)), url('../../assets/Image/111.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backContents .blackFri{
    color: #111;
    padding: 15rem 0 0 1rem;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px; 
}
.backContents .uptoTitle{
    color: #111;
    font-size: 65px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Bitter', serif;
    margin-left: 1rem;
}
.backContents .hundredTitle{
    color: #111;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: serif;
    padding: .1rem 0 2rem 1rem;

}
.backContents button{
    padding: 12px 20px;
    margin-left: 1rem;
    color: #fff;
    background-color: #111;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
}
.shopBtn:hover{
    background-color: #f78da8b6;
}