*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
.headerContainer{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}
.containerHead{
    width: 96%;
    margin: auto;
    
}
.containerBody{
    display: flex;
    justify-content: space-between;
  

}
/* header title style  */
.headerLogo{
    margin-top: 1rem;

}
.headerLogo .logoTitle{
    font-size: 30px;
    font-weight: 700;
    color: #111;
    letter-spacing: 2px;
}
.headerLogo .logoSub{
    font-size: 16px;
    font-weight: 700;
    color: #111111a1;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}
/* header title style end */

/* nav links style start  */
.navLinks{
    margin-top: 1rem;

}

.navLinks .linksHead{
    display: inline-flex;
    gap: 30px;
}
.linksHead .linksTitle{
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
    font-weight: 600;
    /* transition: all .2s linear; */
    /* transition: transform .2s;  */
    padding: 0 2px;   
}
.linksTitle:hover{
    color: tomato;
   
}