*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
.headerContainer{
    height: 100%;
    width: 100%;
    background-color: rgba(135, 207, 235, 0.993);
    top: 0;
    position: sticky;
    z-index: 999;
}
.containerHead{
    width: 96%;
    margin: auto;
    

}
.headerHight{
    height: 100px;
    
}
.containerBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  

}
.containerBody a{
    list-style: none;
    text-decoration: none;
}
/* header title style  */
.headerLogo{
    margin-top: 1rem;

}
.headerLogo .logoTitle{
    font-size: 30px;
    font-weight: 700;
    color: #111;
    letter-spacing: 2px;
}
.headerLogo .logoSub{
    font-size: 16px;
    font-weight: 700;
    color: #111111a1;
    text-transform: uppercase;
    letter-spacing: 1px;
    bottom: 1.5rem;
    position: relative;
    
}
/* header title style end */

/* nav links style start  */
.navLinks111{
    margin-top: 1rem;

}

.navLinks111 .linksHead{
    display: inline-flex;
    gap: 30px;
}
.linksHead .linksTitle{
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 2px;   
}
.linksTitle button{
    border: 0;
    background-color: rgba(135, 207, 235, 0.219);
    margin-top: .1rem;
}
.linksTitle:hover{
    color: tomato;
   
}

/* sub links styled  */

.subLinks{
    margin-top: 1rem;
    display: inline-flex;
    gap: 1rem;
}
.subLinks .subLinkHead{
    display: inline-flex;
    gap: 1.5rem;

}
.subLinkHead .subLinksTitle{
    font-size: 12px;
    color: #111;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 2px;

}
.subSubLinks{
    display: inline-flex;
    gap: 2rem;
}
.logSub .loginHeadTitle{
    font-size: 11.8px;
    color: #111111da;
  
    font-weight: 600;
    padding: 0 2px;

}
.subLinksTitle:hover{
    color: tomato;
}