@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto+Slab&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.storyContent{
    height: 100%;
    width: 100%;
}
.bg-story{
    margin-top: 3rem;
    background-image: url('../../../../assets/Image/Card//Help/about-01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 140vh;
}
.team-content{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 3rem;
}
.teamTitle{
    margin-top: 8rem;
}
.teamTitle .aboutUs-Little{
    font-size: 14px;
    color: gray;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-style: italic;
}
.teamTitle .title{
    width: 400px;
    font-size: 42px;
    /* color: #c19a83; */
    color: #111;
    font-weight: 700;
    font-family: 'Roboto Slab';
    line-height: 44px;
    bottom: 1.4rem;
    position: relative;
  
}