@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto&family=Roboto+Condensed:ital,wght@0,300;1,400&family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chooseUs{
    height: 100%;
    width: 100%;
}
.chooseHead{
    width: 96%;
    margin: auto;
}
.chooseUsHead{
    width: 100%;
}
.chooseUsHead .instagramTitle{
    font-size: 25px;
    color: #ffffffea;
    font-weight: 500;
    line-height: 22px;
    text-transform: capitalize;
    text-align: center;
    padding: 6rem 0 .1rem 0;
    font-family: 'Roboto Slab';
    letter-spacing: 1px;
}
.chooseUsHead .shopTitle{
    text-align: center;
    color: #ffffffce;
    line-height: 20px;
    padding-top: .3rem;
}
.chooseUsHead .instaId{
    text-align: center;
    font-size: 16px;
    color: #ffffffea;
    bottom: 1rem;
    position: relative;
    letter-spacing: 1px;
    padding: 0 0 3rem 0;
    
}