*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fqaContents{
    height: 100%;
    width: 100%;
}
.acc-con{
    padding: 1rem 3rem;
    /* width: 500px; */
    /* height: 50px; */

}
.acc-con ::content{
    font-size: 30px;
}