*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fqaContents{
    height: 100%;
    width: 100%;
}

.fquContent{
    width: 60%;
    margin: auto;
}
.content-sec{
    padding: 0 0 7rem 0;
}
.head-acc .head-title{
    font-size: 22px;
    font-weight: 700;
    color: #d6946e;
    letter-spacing: 1px;
    padding: 2px 0;
}
.head-acc .head-title1{
    font-size: 22px;
    font-weight: 700;
    color: #0f0f0f;
    letter-spacing: 1px;
    padding: 2px 0;
}
.head-title1:hover{
    color: #d6946e;
}

.acc-body .acc-des{
    font-size: 18px;
    color: #1f1e1e;
    letter-spacing: 1px;
    padding: 2px 0;
    line-height: 26px;
    text-align: justify;
}