*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.singleProInfoMain{
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
    position: static;
    margin-left: 2rem;
}
/* icon section  */
.iconsField1 {
    display: flex;
    gap: 6px;
}

.iconsRating {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.numProduct .oneItem {
    font-size: 12px;
    color: #111;
    margin-top: .23rem;
}
/* closed icon  */

.pro-info-title{
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    color: #111111bb;
}
.priceSection1 .price-sin-info{
    font-size: 22px;
    color: rgba(255, 0, 0, 0.76);
    font-weight: 600;
    bottom: 3rem;
    position: relative;
    text-transform: capitalize;
}