*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.offcanvas-header .cart-title{
    text-transform: capitalize;
    margin-top: 3rem;
    font-size: 22px;
    font-weight: 600;
    color: #111111cc;
}
#btnClose{
    font-size: 12px;
}
.body-cart{
    /* margin-top: 2rem; */
}
.body-cart .spend-cart{
    font-size: 16px;
    font-weight: 500;
    color: gray;
}
.spend-cart .spend-middle{
    color: #111;

}
.body-cart .lineHr2{
    height: 4px;
    background-color: rgb(250, 40, 2);
}
.cartIconsub{
    margin-right: 0rem;
}
.cartIconsub:hover{
    color: tomato;
}
.priceSubInfoVCart1{
    bottom: 2rem;
    position: relative;
}
.cart-subTotal1{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.subTitleCon .subTotal1{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;

}
.subtItleCon .amount1{
    font-size: 16px;
    font-weight: 600;
    

}