*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pos_page{
    height: 100%;
    width: 100%;
}
.posHead{
    width: 96%;
    margin: auto;
}
.posContainer{
    display: flex;
    justify-content: space-between;
    gap: 2px;
}
.posContainer{
    width: 74%;
    margin: auto;
}

.priceSection1 .priceTitleTotal1 {
    font-size: 18px;
    font-weight: 600;
    bottom: 3rem;
    position: relative;
    color: #fff;

}
.titlePos{
    display: flex;
    gap: 10px;
    margin-top: 1rem;
}
.miniTitle .addGiftTitle{
    font-size: 16px;
    color: #ffffffc9;
    font-weight: 400;
    text-transform: capitalize;
}
.priceSection1 .priceTitleTotal1{
    font-size: 16px;
    color: #41cde2;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: .2rem;
}
.giftWarp button{
    font-size: 16px;
    font-weight: 500;
    padding: 10px 18px;
    border: 1px solid  #111;
    background-color: #11111100;
    color: #ffffffc9;
    letter-spacing: 1px;
    text-transform: capitalize;

}
.addGiftWarpBtn:hover{
    background-color: #41cde2;
    border: 0;
}
/* pos table  */


.posTable{
    width: 400px;
}

.posTable .subtotalTitle{
    color: #ffffffc9;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 20px;
    letter-spacing: 1px;
    display: block;
    text-align: end;
}
.desSortPos{
    width: 400px;
    /* margin-left: 6rem; */
}
.desSortPos .taxesTitle{
    width: 400px;
    color: #ffffffc9;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 20px;
    letter-spacing: 1px;
    display: block;
    font-family: sans-serif;
    text-align: end;

}
.desSortPos .allDesPos{
    width: 400px;
    color: #ffffffc9;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 22px;
    letter-spacing: 1px;
    display: block;
    font-family: sans-serif;
    text-align: end;
    /* margin-left: 10rem; */

}
.termContainer{
    display: flex;
    float: right;
    gap: 5px;
}
.radioBtn{
    width: 1.1rem;
    height: 1.1rem;
}
.termContainer .radioTitle{
    font-size: 16px;
    color: #ffffffc9;
    padding: 0 2px;
    bottom: .2rem;
    position: relative;
}
.termContent .termTitle{
    font-size: 16px;
    color: #111;
    font-weight: 700;
    bottom: .1rem;
    position: relative;

}
.termTitle:hover{
    color: #41cde2;
}
.checkoutViewCart{
    margin: 4rem 0;
    margin-left: 16rem;
    position: static;
 
}
.checkoutViewCart button{
    padding: 10px 26px;
    font-size: 12px;
    color: #ffffffc9;
    background-color: #111111ce;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 0;
}