*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pos_page{
    height: 100%;
    width: 100%;
}
.posHead{
    width: 96%;
    margin: auto;
}
.posContainer{
    display: flex;
    gap: 2rem;
}
.posContainer{
    width: 74%;
    margin: auto;
}

.priceSection1 .priceTitleTotal1 {
    font-size: 18px;
    font-weight: 600;
    bottom: 3rem;
    position: relative;
    color: #fff;

}
.titlePos{
    display: flex;
    gap: 10px;
    margin-top: 1rem;
}
.miniTitle .addGiftTitle{
    font-size: 16px;
    color: #ffffffc9;
    font-weight: 400;
    text-transform: capitalize;
}
.priceSection1 .priceTitleTotal1{
    font-size: 16px;
    color: #41cde2;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: .2rem;
}
.giftWarp button{
    font-size: 16px;
    font-weight: 500;
    padding: 10px 18px;
    border: 1px solid  #111;
    background-color: #11111100;
    color: #ffffffc9;
    letter-spacing: 1px;
    text-transform: capitalize;

}
.addGiftWarpBtn:hover{
    background-color: #41cde2;
    border: 0;
}