*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.founderTitle{
    height: 100%;
    width: 100%;
}
.des-founderTitle{
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 16px;
    line-height: 26px;
    color: #1111117e;
    padding: 10px 0;
    font-weight: 600;
}