*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.productCategory{
    height: 100%;
    width: 100%;
}
.productCateHead{
    width: 96%;
    margin: auto;
}
.cateTitleContent{
    width: 100%;

}
.cateTitleContent .shopByCate{
    font-size: 12px;
    color: #111111e5;
    letter-spacing: 4px;
    line-height: 20px;
    padding-top: 5rem;
    text-align: center;

}