*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.checkout{
    height: 100%;
    width: 100%;
}
.checkoutHead{
    display: flex;
    justify-content: space-between;
}
.checkTitleSec{
    width: 50%;
    border: 1px solid  red;
}
.checkTitleSec .titleCheck{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 2rem 0 2rem  8rem;
}
.iconCheckSec{
    width: 50%;
    margin-top: 2rem;
}
.iconCheckSec a{
    text-decoration: none;
}
.iconCheckSec .bsBagIcon{
    margin-left: 30rem;
}
.checkOutContent{
    display: flex;
}
.infoCheckOut{
    /* width: 50%; */
}
.titleInfoSec{
    width: 650px;
    display: flex;
    justify-content: space-between;

}
.conSec1 .conTitle{
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;
    color: #111;
    text-transform: capitalize;
    padding: 2rem 0 1rem  8rem;
}
.subLog .accountTitle{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #464040e5;
    text-transform: capitalize;
    padding: 2rem 0 1rem  8rem;

}
.spLog{
    padding-left: 3px;
}
.emailNumCon{
    margin-left: 8rem;
}
.emailNumCon .emailNum{
    width: 520px;
    height: 50px;
    border: 0;
    margin: 1rem 0;
    font-size: 14px;
    background-color: white;
    border: 1px solid #2b2d2e5d;

}
#vehicle1{
    width: 16px;
    height: 16px;

}
.emailNumCon{
    margin-top: 1rem;
}
.checkLabel{
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #111;
    text-transform: capitalize;
    padding-left: 6px;
    bottom: .2rem;
    position: relative;
       
}
::placeholder{
    font-size: 14px;
    padding-left: 10px;

}
.deliveryContent{
    margin-left: 8rem;
}
.deliveryContent .deliveryTitle{
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;
    color: #111;
    text-transform: capitalize;
    padding: 2rem 0 1rem  0rem;
    
}

.shipC{
    width: 520px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #2b2d2e5d;
    padding: 10px ;
}
.pickC{
    width: 520px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #2b2d2e5d;
    padding: 10px ;
    margin: 10px 0;

}
.countryNameContent{
    margin-left: 8rem;
}
.countryNameCheck{
    width: 520px;
    height: 50px;
    margin: 1rem 0;
    font-size: 16px;
    background-color: white;
    border: 1px solid #2b2d2e5d;

}
.nameContent{
    margin-left: 8rem;
    display: flex;
    justify-content: space-between;
}
.firstCheckName{
    width: 250px;
    height: 50px;
    margin: 1rem 0;
    font-size: 16px;
    background-color: white;
    border: 1px solid #2b2d2e5d;

}
.secondCheckName{
    width: 250px;
    height: 50px;
    margin: 1rem 0;
    font-size: 16px;
    background-color: white;
    border: 1px solid #2b2d2e5d;

}
.addressCheckBox{
    margin-left: 8rem;
}
.addressCheckBox .addressCls{
    width: 520px;
    height: 50px;
    margin: 1rem 0;
    font-size: 16px;
    background-color: white;
    border: 1px solid #2b2d2e5d;

}
.saveInfo{
    margin: 0 0 1.5rem 8rem;
    /* margin-top: 1rem; */
}









.productCheckOut{
    position: static;
    top: 0;
    width: 50%;
}
