@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto&family=Roboto+Condensed:ital,wght@0,300;1,400&family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.checkout{
    height: 100%;
    width: 100%;
    
}
/* .checkoutSection{
    wid
} */
.checkoutHead{
    display: flex;
    justify-content: space-between;
   
}

.checkTitleSec{
    width: 50%;
    /* border: 1px solid  red; */
}
.checkTitleSec .titleCheck{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 2rem 0 2rem  8rem;
}
.iconCheckSec{
    width: 50%;
    margin-top: 2rem;
}
.iconCheckSec a{
    text-decoration: none;
}
.iconCheckSec .bsBagIcon{
    margin-left: 30rem;
}
.checkOutContent{
    display: flex;
}
.infoCheckOut{
    /* width: 50%; */
}
.titleInfoSec{
    width: 650px;
    display: flex;
    justify-content: space-between;

}
.conSec1 .conTitle{
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;
    color: #111;
    text-transform: capitalize;
    padding: 2rem 0 1rem  8rem;
}
.subLog .accountTitle{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #464040e5;
    text-transform: capitalize;
    padding: 2rem 0 1rem  8rem;

}
.spLog{
    padding-left: 3px;
}
.emailNumCon{
    margin-left: 8rem;
}
.emailNumCon .emailNum{
    width: 520px;
    height: 50px;
    border: 0;
    margin: 1rem 0;
    font-size: 14px;
    background-color: white;
    border: 1px solid #2b2d2e5d;

}
#vehicle1{
    width: 16px;
    height: 16px;

}
.emailNumCon{
    margin-top: 1rem;
}
.checkLabel{
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #111;
    text-transform: capitalize;
    padding-left: 6px;
    bottom: .2rem;
    position: relative;
       
}
::placeholder{
    font-size: 14px;
    padding-left: 10px;

}
.deliveryContent{
    margin-left: 8rem;
}
.deliveryContent .deliveryTitle{
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;
    color: #111;
    text-transform: capitalize;
    padding: 2rem 0 1rem  0rem;
    
}

.shipC{
    width: 520px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #2b2d2e5d;
    padding: 10px ;
}
.pickC{
    width: 520px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #2b2d2e5d;
    padding: 10px ;
    margin: 10px 0;

}
.countryNameContent{
    margin-left: 8rem;
}
.countryNameCheck{
    width: 520px;
    height: 50px;
    margin: 1rem 0rem;
    font-size: 16px;
    background-color: white;
    border: 1px solid #2b2d2e5d;

}

.nameContent{
    margin-left: 8rem;
    display: flex;
    gap: 1.4rem;
    /* justify-content: space-between; */
}
.firstCheckName{
    width: 250px;
    height: 50px;
    margin: 1rem 0;
    font-size: 16px;
    background-color: white;
    border: 1px solid #2b2d2e5d;

}
.secondCheckName{
    width: 250px;
    height: 50px;
    margin: 1rem 0;
    font-size: 16px;
    background-color: white;
    border: 1px solid #2b2d2e5d;

}

.addressCheckBox{
    margin-left: 8rem;
}
.addressCheckBox .addressCls{
    width: 520px;
    height: 50px;
    margin: 1rem 0;
    font-size: 16px;
    background-color: white;
    border: 1px solid #2b2d2e5d;

}
.saveInfo{
    margin: 0 0 1.5rem 8rem;
   
}
.shippingMethod22{
    margin-left: 8rem;
}
.alertContent22{
    width: 520px;
    background-color: rgba(233, 203, 166, 0.349);
    padding: 1rem 0 3rem 0;
}
.alertCir1{
    margin-left: 1rem;
}
.shpingTitle11{
    font-size: 16px;
    font-weight: 500;
    color: #111;
    text-transform: capitalize;
    padding-left: 16px;
}
.alertDes11{
    font-size: 15px;
    font-weight: 400;
    color: #111111ce;
    text-transform: capitalize;
    padding: 0 3rem 0 4rem;
    line-height: 25px;
    text-align: justify;
    font-family: 'Roboto';

}
.shipping_title2{
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;
    color: #111;
    text-transform: capitalize;
    padding: 1rem 0 1.5rem  0rem;

}

/* payment section  */
.paymentSec{
    margin-left: 8rem;
    margin-top: 2rem;
}



.paymentTitle{
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;
    color: #111;
    text-transform: capitalize;
    padding: 1rem 0 .5rem  0rem;

}
.paymentSec .payDes {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #111111b2;
    text-transform: capitalize;
    padding: 0rem 0 .5rem  0rem;

}
.creditContainer{
    background-color: rgba(233, 203, 166, 0.253);

}
.cardSec{
    display: flex;
    justify-content: space-between;
    padding: 10px ;
    border: 1px solid #2b2d2e5d;
    margin: 1rem 0;
    background-color: rgba(233, 203, 166, 0.253);
}
.creditTitle{
    font-size: 14px;
    font-weight: 500;
    /* line-height: 22px; */
    color: #111;
    text-transform: capitalize;
    padding-left: 6px;
    padding-top: .5rem;
}
.cardIcon{
    height: 2rem;
    background-color: orange;
    padding: 0px 18px;
    margin-top: .5rem;
}
.bLetterIcon{
    margin-top: .1rem;
}
.cardNumCls{
    width: 520px;
    height: 50px;
    margin: 1rem ;
    font-size: 16px;
    background-color: white;
    border: 1px solid #2b2d2e33;
}
.dateCode{
   
    display: flex;
    gap: 1rem;
    margin: 0 1rem;
 
}
.savePayment{
    margin: 0 0 1.5rem 1rem;
   
}
.btnContentCheck{
    margin: 2rem 0 1.5rem 9rem;
    
}
.btnContentCheck button{
    width: 520px;
    padding: 20px 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    color: #fff;
    background-color: #1773b0;
}









.productCheckOut{
    position: sticky;
    top: 0;
    width: 50%;
    z-index: 999;
   height: 100%;
}
