@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto+Slab&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.SingUpContent {
    height: 100%;
    width: 100%;
}

.info-sec-singUp {
    width: 70%;
    margin: auto;
    /* border: 1px solid red; */

}
.info-sec-singUp .nameTitleSing{
    padding: .5rem 3rem 5px 3rem;
    font-size: 16px;
    font-weight: 700;
    color: #424141e3;
    text-transform: capitalize;
    font-family: 'Roboto Slab';
}
.nameTitleSing .starIc{
    color: rgba(255, 0, 0, 0.63);
}

.names-section {
    display: flex;
    gap: 3rem;
    margin: 0rem 3rem 1rem 3rem;
}

.firstNameCon .nameClsSing {
    width: 400px;
    height: 50px;
    font-size: 16px;
    padding: 2px;
    color: #111111f3;
    font-weight: 500;
    border: 1px solid rgba(128, 128, 128, 0.329);
    background-color: rgb(250, 248, 248);
}

.nameClsSing:focus {
    outline: 0;
    border: 0;
}

.firstNameCon .firstNameLabel {
    font-size: 14px;
    font-weight: 700;
    color: #424141e3;
    text-transform: capitalize;
}
/* email field  */
.info-sec-singUp .emailTitleSing{
    padding: .5rem 3rem 5px 3rem;
    font-size: 16px;
    font-weight: 700;
    color: #424141e3;
    text-transform: capitalize;
    font-family: 'Roboto Slab';
}
.emailTitleSing .starIc{
    color: rgba(255, 0, 0, 0.63);
}
.email-secSing{
    margin: 0 0 1.5rem 3rem;
}
.email-secSing .EmailClsSing {
    width: 850px;
    height: 50px;
    font-size: 16px;
    padding: 2px;
    color: #111111f3;
    font-weight: 500;
    border: 1px solid rgba(128, 128, 128, 0.329);
    background-color: rgb(250, 248, 248);
  
}

.EmailClsSing:focus {
    outline: 0;
    border: 0;
}

/* message area  */
.message-secSing{
    margin: 0 0 2rem 3rem;
}

.message-secSing .textareaClsSing {
    width: 850px;
    height: 120px;
    font-size: 16px;
    padding: 2px;
    color: #111111f3;
    font-weight: 500;
    border: 1px solid rgba(128, 128, 128, 0.329);
    background-color: rgb(250, 248, 248);
}

.textareaClsSing:focus {
    outline: 0;
    border: 0;
}
/* button area  */
.btn-singUp-sec{
    margin: 0 0 6rem 3rem;
}
.btn-singUp-sec button{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #111;
    padding: 14px 20px;
    border: 0;
    font-family: inherit;
}
.send-btn:hover{
    background-color: #c19a83;
}