@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ProductInformation{
    height: 100%;
    width: 100%;
}
.product_header{
    margin-top: 3rem;
}
.pro-head-ul22{
    display: flex;
    gap: 1px;
}
.pro-head-ul22 .pro-head-link{
    font-size: 16px;
    font-weight: 600;
    color: rgba(82, 80, 80, 0.856);
    letter-spacing: 1px;

}
/* sub link  start*/
.product_header .product-list ,.product-title{
    margin-left: 2rem;
}
 .product-list .pro-list-link{
    font-size: 15px;
    font-weight: 500;
    color: rgba(82, 80, 80, 0.856);
    padding: 0 2px;
    font-family: 'Roboto Slab';
    letter-spacing: 1px;
    text-transform: capitalize; 
}
/* sub link  end*/
.product-title .title{
    font-size: 22px;
    font-family: 'Roboto Slab';
    text-transform: capitalize;
    padding: 10px 0 5px 0;
}
.product-title .price{
    font-size: 16px;
    font-family: 'Roboto Slab';
    color: rgba(82, 80, 80, 0.856);
}
.product-title .dollarName{
    font-size: 22px;
    font-weight: 600;
    color: #c19a83;
}
.product-title .pro-des-cate{
    font-size: 16px;
    font-family: 'Roboto Slab';
    color: rgba(82, 80, 80, 0.856);
    line-height: 28px;
    text-align: justify;
    padding: 0 15px 0 0;
}