* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imageAndTime {
    height: 100%;
    width: 100%;
}
.pro-hand-over{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.imageAndTime .car-sec {
    width: 45px;
    border-right: 1px solid rgba(23, 24, 23, 0.39);
    height: 55px;
    margin-top: 1rem;

}
.car-sec .carIcon{
    color: #111111c5;
    margin-top: .5rem;
}
.orderInCls{
    font-size: 16px;
    font-weight: 600;
    color: #11111194;
    letter-spacing: 1px;
    margin-top: 1rem;
    line-height: 26px;
    

}
.dateDelStart{
    font-size: 16px;
    font-weight: 600;
    color: #111;
    border-bottom: 1px solid black;
    letter-spacing: 1px;
}

/* card company style start */
.card-company{
    width: 96%;
    margin-top: 1rem;
}
.card-company .title{
    font-size: 13px;
    font-weight: 700;
    color: #363535e1;
    text-align: center;
    padding-top: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
   
}
.card-company .image-card{
    margin: 2.5rem 0 0 3.8rem;
    /* height: 70px; */
    align-items: center;
}
