* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.DecorContentMain{
    height: 100%;
    width: 100%;
}
.decorSorting-sec{
    margin: 4rem 0 0 2rem;
    display: flex;
    justify-content: space-between;
}
.decorSorting-sec .show-sec .showingAll{
    font-size: 18px;
    font-weight: 600;
    color: #4d4a4ad2;
    letter-spacing: 1px;
}

/* click links start */
.dropFilterDecor{
    margin: 0 0 3rem 0;
}
.selectDropDecor{
    width: 210px;
    border: 1px dotted #111111cb;
    padding: 1.1rem .5rem;
    border-radius:5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #535050d3;
    font-size: 16px;
    font-weight: 500;
    
  }
 .optionDecorSorting{
    font-size: 15px;
    color: #4d4a4ad2;
    font-weight: 500;

  }
  
  .selectDropDecor:focus{
    outline:none;
  }
  .faSortDecor{
    padding-left: 10px;
    color: #535050d3;
    right: 2.5rem;
    position: relative;

  }
   /* click dropdown end  */
   .decor-products-sec{
    margin-top: 2rem;
   }