*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.newArrivals{
    height: 100%;
    width: 100%;
}
.arrivalsContent{
    height: 80vh;
    display: flex;
    width: 100%;
}
.multiPro{
    width: 40%;
}
.dressContent{
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(to right, rgba(182, 182, 190, 0.315), rgba(255, 0, 0, 0.137)), url('../../assets/Image/NewArrivals/dress.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aqua;

}
.multiPro .multiCon{
    display: inline-flex;
   width: 100%;
   margin: 0 0 7rem 0;
}
.dressContent button{
   
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    border: 0;
    margin: 8% 8% 10% 15%;
    overflow: hidden;
    z-index: 1;
    line-height: 45px;
    padding: 0 40px;
    display: inline-block;
    position: absolute;
    border-radius: 3px;
    background-color: rgba(206, 186, 186, 0.76);
  
}
.dressBtn:hover{
    background-color: aquamarine;
    transition: all .2s ease;

}
 .parse{
    width: 50%;
    height: 40vh;
    background-image:linear-gradient(to right, rgba(182, 182, 190, 0.377), rgba(255, 0, 0, 0.137)), url('../../assets/Image/NewArrivals/wallet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.parse button{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    border: 0;
    margin: 8% 4% 10% 3%;
    overflow: hidden;
    z-index: 1;
    line-height: 45px;
    padding: 0 40px;
    display: inline-block;
    position: absolute;
    border-radius: 3px;
    background-color: rgba(206, 186, 186, 0.76);

}
.accessBtn:hover{
    background-color: aquamarine;
    transition: all .2s ease;

}
 .shoes{
    width: 50%;
    height: 40vh;
    background-image:linear-gradient(to right, rgba(182, 182, 190, 0.37), rgba(255, 0, 0, 0.137)), url('../../assets/Image/NewArrivals/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.shoes button{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    border: 0;
    margin: 8% 4% 10% 5%;
    overflow: hidden;
    z-index: 1;
    line-height: 45px;
    padding: 0 40px;
    display: inline-block;
    position: absolute;
    border-radius: 3px;
    background-color: rgba(206, 186, 186, 0.76);

}
.shoesBtn:hover{
    background-color: aquamarine;
    transition: all .2s ease;
}
.singlePro{
    width: 60%;
}
.singleImg{
    height: 80vh;
    background-image: url('../../assets/Image/NewArrivals/new.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}