*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.newArrivals{
    height: 100%;
    width: 100%;
}
.arrivalsContent{
    height: 80vh;
    display: flex;
    width: 100%;
}
.multiPro{
    width: 40%;
}
.dressContent{
    width: 100%;
    height: 50vh;
    background-image: url('../../assets/Image/NewArrivals/dress.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.multiPro .multiCon{
    display: inline-flex;
   width: 100%;
}
 .parse{
    width: 50%;
    height: 40vh;
    background-image: url('../../assets/Image/NewArrivals/wallet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
 .shoes{
    width: 50%;
    height: 40vh;
    background-image: url('../../assets/Image/NewArrivals/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.singlePro{
    width: 60%;
}
.singleImg{
    height: 80vh;
    background-image: url('../../assets/Image/NewArrivals/new.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}