*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.showAllContainer{
    height: 100%;
    width: 100%;
}
.bodyShowAll{
    width: 96%;
    margin: auto;
}
.titleContentShow{
    width: 100%;
}
.titleContentShow .productsTi{
    font-size: 45px;
    color: rgba(26, 24, 24, 0.871);
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    padding: 0 0 1rem 0;
}
.titleContentShow .linkUl{
    text-align: center;
}
.ulContent{
    display: inline-flex;
    gap: 2px;
}
.ulContent li{
    list-style: none;
}
.ulContent a{
    text-decoration: none;
}
.ulContent .LinkHome{
    font-size: 15px;
    font-weight: 400;
    color: #111111d0;
}
.ulContent .title_p{
    font-size: 15px;
    font-weight: 400;
    color: #111111d0;
    padding-top: 1px;
}
.contents_all{
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
}
.filter{
    margin:  0 0 2rem 0;
    width: 30%;
}
