*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bed_room{
    height: 100%;
    width: 100%;
}
.bed_room a{
    text-decoration: none;
}
.sub_bedRoom img{
    width: 300px;
    height: 300px;

}
.info_bed{
    width: 300px;
    height: 60px;
    background-color: #a516161f;
    translate: 0px -70px 50px;
   
}
.info_bed .title_bed{
    font-size: 16px;
    font-weight: 700;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    padding-top: .3rem;
}
.info_bed .count_bed{
    font-size: 12px;
    font-weight: 700;
    color: #111111a2;
    text-transform: uppercase;
    text-align: center;
    bottom: 1rem;
    position: relative;
}