*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.quickViewMain{
    height: 100%;
    width: 100%;
}
/* modal of viewQuick styled  */

.styleBoxQuick {
    width: 70%;
    margin: auto;
    height: 100%; 
    background-color: rgba(255, 255, 255, 0.993);
}

.quickViewContent1 {
    display: flex;
}

.imageView1 img {
    width: 400px;
    height: 500px;
    margin: 2rem 2rem 0 4rem;
}

.infoView{
    margin-top: 2rem;
    /* background-color: rgba(255, 255, 255, 0.993); */
}

/* icon section  */
.iconsField1 {

    display: flex;
    justify-content: center;
    gap: 6px;
    /* padding: 0 0 .1rem 0; */

}

.iconsRating1 {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.numProduct .oneItem {
    font-size: 12px;
    color: #111;
    margin-top: .23rem;
}
/* closed icon  */