*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modalArea111{
    margin: 0 0 1rem 0;
    height: 620px;
}
.quickViewMain{
    height: 100%;
    width: 100%;
    
}
/* modal of viewQuick styled  */

.styleBoxQuick {
    width: 70%;
    margin: auto;
    height: 100%; 
    background-color: rgba(255, 255, 255, 0.993);
}

.quickViewContent1 {
    display: flex;
}

.imageView1 img {
    width: 400px;
    height: 500px;
    margin: 2rem 2rem 0 4rem;
}
.modalArea1{
    margin: 2rem 0;
}

.infoView{
    margin-top: 2rem;
    /* padding: 2rem 0; */

    /* background-color: rgba(255, 255, 255, 0.993); */
}

/* icon section  */
.star-container
{
 
    width: 120px;
}
.iconsField1 {

    display: flex;
    justify-content: center;
    gap: 6px;
   

}

.iconsRating1 {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.numProduct .oneItem {
    font-size: 12px;
    color: #111;
    margin-top: .23rem;
}
/* closed icon  */

/* title activities  */

.title-quick11{
    font-size: 28px;
    font-weight: 500;
    color: #363636;
    
}
.infoView .se-store{
    font-size: 14px;
    color: #111;
    font-weight: 500;
}
/* price section start */
.amount-con{

    /* max-height: 10px; */
}
.QuickSubPri {
    padding: 4px 30px;
    font-size: 12px;
    color: #fff;
    background-color: #111;
    visibility: hidden;
    /* bottom: 2rem; */
    position: relative;
    border-radius: 5px;
    max-width: 80px;
    font-weight: 400;
    /* margin-left: 6rem; */
}

 .priceQuick {
    width: 100px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    bottom: 1rem;
    position: relative;
    color: #111;
   
}

.priceQuick:hover {
    color: #0dcaf0;
}

.pp:hover .QuickSubPri {
    visibility: visible;
}
/* price section end */
.quickHr{
    width: 450px;
}
.infoView .des-cls{
    width: 460px;
    font-size: 16px;
    color: #111111a4;
    font-weight: 400;
    line-height: 25px;
    text-align: justify;
    padding: .5rem 2rem 0 0;

}

/* .card work  */
.cart-sec22{
    width: 100%;
    display: flex;
    gap: 1rem;
    /* margin: 2rem 0; */
    /* padding: 1rem 0; */
}

/* quantity add  */
.incrDecr-pro-info {
    display: flex;
    gap: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.281);
    /* margin: 1rem 0; */
}

/* decrrese  */
.decr-sec button{
    border: 0;
    background-color: #fff;
    padding: 10px 10px;
    color: #1312129c;
}
.decreaseBtn:hover{
    color: #111;
}
.value-pro-show{
    padding: 10px 10px;
    
}
.value-pro-show .showOne1 {
    font-size: 18px;
    color: #111;
    font-weight: 700;
   
}

.incr-sec button {
    border: 0;
    background-color: #11111100;
    padding: 10px 10px;
    color: #1312129c;
}
.increaseBtn:hover{
    color: #111;
}
.cardBtnQuick button{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    background-color: #111;
    color: #f5ecec;
    letter-spacing: 2px;
    padding: 16px 2rem;
    
}
.add-card:hover{
    background-color: #0dcaf0;
}
.icon{
    padding: 12px 14px;
    border: 1px solid rgba(0, 0, 0, 0.281);
}
.icon .favIcon{
    color: #111;
}
.icon:hover{
    background-color: #0dcaf0;
    border: 0;
    color: #11111100;
}
.icon:hover .favIcon{
    color: #fff;

}
/* card work done  */