*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pro-des-main{
    height: 100%;
    width: 100%;
}

.tab-sec{
    margin-top: 3rem;
}
.gg{
    width: 100%;
}
.gg .panel{
    margin-left: 35%;
}
