*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pro-des-main{
    height: 100%;
    width: 100%;
}

.tab-sec{
    margin-top: 3rem;
}
.tabHead{
    width: 100%;
}
.tabHead .panel{
    margin-left: 35%;
}
.panel .tabName{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0;
    color: #332e2ea1;
}
.tabName:hover{
    color: #111;
}
