*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.single-product{
    height: 100%;
    width: 100%;
}
.sin-pro-head{
    margin: 0rem 0 5rem 0;
}
.sing-pro-content{
    display: flex;
    gap: 1rem;
}
.sing-mini-imgC{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
    height: 100%;
    position: static;
}
.mini1-con{
    display: block;
    width: 100px;
    height: 140px;
    border: 1px solid rgba(0, 0, 0, 0.795);    
 }
 .mini1-con .img1-con{
     width: 80px;
     height: 130px;
     margin: auto;
     padding-top: .5rem;
     display: block;     
 }
.mini-img{
   display: block;
   width: 100px;
   height: 140px; 
    
}

.mini-img .imgMini{
    width: 100px;
    height: 138px;
    display: block; 
}

.mini1Con:hover img{
    transform: scale(0.88);
}

.mini-img:hover{
    border: 1px solid rgba(0, 0, 0, 0.795);
    display: block;
}

/* image style  */
.sing-imgCon11{
    width: 550px;
    position: static;
    height: 70rem;
}
.discountSinglePro{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #ff4e00;
    padding: 2px 16px;
    float: right;
    margin-top: 1rem;
    right: 1.5rem;
    position: relative;
   

}
.spanDis{
    transform: translate(-.1ch, -55rem);

}
 #largeImg{
    width: 550px;
    height: 55rem;
    display: block;
    /* bottom: 2.68rem; */
    /* position: relative; */
}