*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wishListHeader{
    height: 100%;
    width: 100%;
}
.wishListHeader .subContentWi{
    width: 96%;
    margin: auto;
}
.subContentWi .title{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    padding: 4rem 0 1rem 0;
    letter-spacing: 1px;
    color: #242323;

}
.ul-ws{
    margin: 0 0rem 0 0 ;
}
.ul-ws .wishlist-ul{
    display: flex;
    gap: .2rem;
    justify-content: center;
   
}
.wishlist-ul .ws-li{
    font-size: 14px;
    font-weight: 500;
    color: #a19f9f;
    text-decoration: none;
}
.wishlist-ul .sub-hm{
    margin-top: 1rem;
}
.wishlist-ul .greater-ws{
    color: #a19f9f;
   
}
.wishlist-ul .wl{
    font-size: 14px;
    font-weight: 500;
    color: #1d1c1c;
    text-decoration: none;
    padding-top: .2rem;

}
.subContentWi .product-show{
    margin-top: 4rem;
}
.product-show .title-ws-err{
    font-size: 22px;
    font-weight: 500;
    color: #8d8b8b;
    letter-spacing: 1px;
    text-align: center;
    padding: 2rem 0 2rem 0;

}
.hr-home{
    top: 1.8rem ;
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.589);
    padding: 1px 6px;
    text-transform: capitalize;
    font-size: 13px;
    visibility: hidden;

   
}
.ws-li:hover .hr-home{
    visibility: visible;
    
}
.main-sub{
    display: flex;
    gap: 5px;
    right: 3rem;
    position: relative;
}

