*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.review-main{
    height: 100%;
    width: 100%;
}
.review-content{
    margin: 2rem 3rem;
}
.review-content .cus-review{
    font-size: 28px;
    color: #131313e0;
    font-weight: 500;
    text-transform: capitalize;
}
.review-content .review-part{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.spIcon{
    color: rgb(241, 209, 171);
}
.base-on{
    font-size: 14px;
    padding: .2rem 1rem;
    color: #131313be;
}
.btn-review button{
    font-size: 14px;
    color: #131313be;
    padding: 10px 3rem;
    border: 1px solid #111;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #fff;
}
.reviewBtnCls:hover{
    background-color: rgba(8, 228, 228, 0.74);
    border: 0;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}
/* review description part  */
.review-des {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    border: 1px solid #2927272f;
}
.review-des .icons{
    margin: 2rem 2rem;
}
.icons .text-review{
    font-size: 18px;
    font-weight: 700;
    text-transform: lowercase;
   bottom: .5rem;
   position: relative;
}
.icons .text-sub{
    font-size: 14px;
    font-weight: 600;
    text-transform: lowercase;
   bottom: .8rem;
   position: relative;
   color: #1313138a;
}
.reviews-link{
    margin: 2rem ;
}
.reviews-link a{
    font-size: 13px;
    font-weight: 500;
    color: #1313138a;
}

/* review page  */
.info-reviewField{
    margin-top: 1rem;
}
.info-reviewField .info-reviewField {
    font-size: 22px;
    font-weight: 500;
    color: #1f1d1d;
    text-align: left;
}
