*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.productCList{
    height: 100%;
    width:  100%;
   
}
.checkProBody{
   height: 800px;
    border-left: 1px solid rgba(128, 128, 128, 0.842);

}
.contentsProCheck{
    display: flex;
    gap: 7rem;
    margin-left: 1rem;
}
.imgInfoCheck{
    display: flex;
    gap: 5px;
}
.imgCheck .oneSort{
    padding: 4px 8px;
    background-color: tomato;
    color: #111;
    font-size: 16;
    font-weight: 600;
    border-radius: 50%;
    margin-left: 4.2rem;
    top: .5rem;
    position: relative;
}
.imgCheck img{
    width: 80px;
    height: 100px;
    border-radius: 10px;
}
.infoCheckP{
    margin-top: 3rem;
}
.infoCheckP .longTitleP{
    font-size: 16px;
    font-weight: 500;
    color: #111;
    text-transform: capitalize;
    padding-left: 5px;
}
.infoCheckP .brown{
    font-size: 14px;
    font-weight: 500;
    color: #111111a8;
    text-transform: capitalize;
    padding-left: 5px;
    bottom: 1rem;
    position: relative;
}
.balanceCheckout{
    margin-top: 3rem;
}
 .balanceCheckout .balanceCheckOutTitle{
    font-size: 16px;
    font-weight: 500;
    color: #111;
    text-transform: capitalize;
    

 }
 /* gift section  */
 .giftCard{
    display: flex;
    gap: 2rem;
    margin: 2rem 0 1rem 1rem;
 }
 .giftInput .giftCls{
    width: 380px;
    height: 50px;
    font-size: 16px;
    color: #111;
    font-weight: 400;
    border: 1px solid #11111131;
    border-radius: 5px;

 }
 .giftBtnP button{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background-color: #1773b0;
    padding: 12px 20px;
    border: 0;
    border-radius: 5px;
 }
 .giftBtnChePro:hover{
    background-color: rgba(33, 141, 218, 0.824)

 }
 /* amount styles  */
 .amountContainer{
   margin: 2rem 0 1rem 1rem;
 }
 .amountContent{
    display: inline-flex;
    gap: 20rem;
 }
 .amountShipping{
    display: inline-flex;
    gap: 15rem;
 }
 .amountTotalCheck{
    display: inline-flex;
    gap: 21rem;
 }
 .amountContent .subtotalCheckOut{
    font-size: 16px;
    font-weight: 500;
    color: #111111e1;
    text-transform: capitalize;
    padding-left: 5px;
    letter-spacing: 1px;

 } 
 .amountContent .subAmCheckOut{
    font-size: 16px;
    font-weight: 500;
    color: #111111;
    text-transform: capitalize;
    padding-left: 5px;
    letter-spacing: 1px;

 } 
 .amountShipping .subtotalCheckOut{
    font-size: 16px;
    font-weight: 500;
    color: #111111e1;
    text-transform: capitalize;
    padding-left: 5px;
    letter-spacing: 1px;

 } 
 .amountShipping .subAmCheckOut{
    font-size: 14px;
    font-weight: 500;
    color: #111111a6;
    text-transform: capitalize;
    padding-left: 5px;
    letter-spacing: 1px;

 } 
 .amountTotalCheck .subtotalCheckOut{
    font-size: 16px;
    font-weight: 600;
    color: #111111;
    text-transform: capitalize;
    padding-left: 5px;
    letter-spacing: 1px;

 } 
 .amountTotalCheck .subAmCheckOut{
    font-size: 16px;
    font-weight: 700;
    color: #111111;
    text-transform: capitalize;
    padding-left: 5px;
    letter-spacing: 1px;

 } 
