*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.CategoryProductInfo{
    height: 100%;
    width: 100%;
}
.cateProContents{
    display: flex;
    gap: 0rem;
    margin: 1rem 0 4rem 1rem;
}
