*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.estimates{
    height: 100%;
    width: 100%;
    margin: 0 0 6rem 0;
}
.estimatesBody{
    width: 72%;
    margin: auto;
}
.estimateContent{
    background-color: rgba(206, 174, 174, 0.411);
    margin-top: 2rem;
}
.titleEstimate{
    font-size: 20px;
    text-align: center;
    color: #111;
    text-transform: capitalize;
    padding-top: 4em;
    font-weight: 500;
}
.estimatesContents{
    display: flex;
    gap: 2rem;
    padding: 2rem 0 6rem 0;
}
/* country name  */
.country .countryName{
    /* background-color: #1111110e; */
    border: 1px solid #11111150;
    margin-left: 2rem;
    width: 200px;
    height: 40px;
    color: #111;
    
}

.StateCls, .zipCodeField{
    /* background-color: #1111110e; */
    border: 1px solid #11111150;
    width: 200px;
    height: 40px;
    color: #111;

}
::placeholder{
    color: #111;
    text-transform: capitalize;
}
.estimateBtnHead button{
    padding: 10px 44px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #111;
    color: #ffffffd8;
    border: 0;
}
.estimateBtn:hover{
    background-color: #0dcaf0;
}