*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    height: 100%;
    width: 100%;
    background-color: #11111196;
}
.footerHead{
    width: 96%;
    margin: auto;
}
.shopContent .footerName{
    color: white;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 5rem;
}
.shopContent .footerSort{
    color: rgba(255, 255, 255, 0.623);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 1.5rem;
    position: relative;
}
