@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Catamaran:wght@200;300&family=Dancing+Script:wght@700&family=Inter&family=Nosifer&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600&family=Roboto&family=Roboto+Condensed:ital,wght@0,300;1,400&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    height: 100%;
    width: 100%;
    background-color: #11111196;
}

.footerHead {
    width: 96%;
    margin: auto;
}

.footerContents {
    display: flex;
    gap: 3rem;
   
}
.shopContent{
    width: 60%;
}

.shopContent .footerName {
    color: white;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 5rem;
}

.shopContent .footerSort {
    color: rgba(255, 255, 255, 0.623);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 1.5rem;
    position: relative;
}

.links_contentFooter {
    margin-top: 5rem;
}

.links_contentFooter .footerLinkTitle {
    color: #ffffffbe;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: 'Roboto Slab';
    padding: 0 0rem 0 1.9rem;
}

.footerUl {
    margin-top: 1rem;
}

.footerUl a {
    text-decoration: none;
}

.footerUl li {
    list-style: none;
}

.footerUl .linkFooterTitle {
    color: #cea8b1be;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 20px;
    font-family: 'Roboto Slab';
}

.linkFooterTitle:hover {
    color: #ffffffbe;
}

/* category style start  */

.categoryFooter {
    margin-top: 5rem;
}

.categoryFooter .footerCateTitle {
    color: #ffffffbe;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Roboto Slab';
    padding: 0 0rem 0 1.9rem;
}

.footerUlCate {
    margin-top: 1rem;
}

.footerUlCate a {
    text-decoration: none;
}

.footerUlCate li {
    list-style: none;
}

.footerUlCate .cateFooterTitle {
    color: #cea8b1be;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 20px;
    font-family: 'Roboto Slab';
}

.cateFooterTitle:hover {
    color: #ffffffbe;
}

/* subscribe phase  */

.subscribeFooter {
    margin-top: 5rem;
}

.footerSubsTitle {
    color: #ffffffbe;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: 'Roboto Slab';
    padding: 0 0rem 0 0rem;

}
.messageFooter{
    margin-top: 2rem;
}

.messageFooter .footerInput {
    width: 200px;
    height: 2.5rem;
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(148, 147, 147, 0.178) 0px 3px 8px;
    font-size: 16px;

}

::placeholder {
    font-size: 16px;
    padding-left: 5px;
}

.btnMessageFooter {
    margin-top: 2rem;
}

.btnMessageFooter button {
    font-size: 14px;
    background-color: #111;
    color: #ffffffef;
    font-weight: 500;
    padding: 12px 22px;
    border: 0;
    text-transform: uppercase;
    font-family: 'Roboto';
    letter-spacing: 2px;
}

/* hr line style start  */
.hrFooterInner{
    color: white;
}
.socialLinksFooter{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.comment{
    padding: 0rem 0 0 0rem;
}
.comment .commentTitleF{
    color: #ffffff8a;
    padding: 0 0 3rem 0;
    font-family: 'Roboto Slab';
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  
}
.socialLinksContent a{
    text-decoration: none;
}
.socialLinksContent{
    display: inline-flex;
    gap: 1.5rem;
}