*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.recentView{
    height: 100%;
    width: 100%;
}
.recentViewMain{
    width: 96%;
    margin: auto;
}
.recentViewMain .additionalTitle{
    font-size: 30px;
    font-weight: 400;
    color: #111111f5;
    text-align: center;
    padding: 3rem 0 4rem 0;
}