*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.trendingProduct{
    height: 100%;
    width: 100%;
}
.productContainer{
    width: 96%;
    margin: auto;
}
.productContents{
    position: absolute;
 
}
.productContents .image{
    width: 300px;
    height: 400px;
    display: block;
   
}
/* overlay add  */
.overlaySection{
    position: absolute; 
  bottom: 0; 

  /* background: rgba(0, 0, 0, 0.5);  */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  /* padding: 20px; */
  text-align: center;
  height:160px
}
.productContents:hover .overlaySection{
    opacity: 1;
}
/* icon  */
.iconSection{
    display: flex;
   
    justify-content: center;
    align-items: center;
    color: black;
    margin: 10px 0 30px 0;
}
.iconSection .IconOverlay{
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 100%;
    bottom: 1rem;
    position: relative;
}


.IconOverlay:hover {
    background-color: #0dcaf0;
  
}
.heart:hover .wishlist{
    visibility: visible;
}
.arrow:hover .compare{
    visibility: visible;
}
.eye:hover .quickView{
    visibility: visible;
}

/* icon end  */

/* select option field  */

.selectOptionTitle{
    padding: 10px 0;
    background-color: #0dcaf0;
    right: 0;
    left: 0;
    bottom: -17px;
    position: absolute;
}
.wishlist{
    padding: 2px 14px;
    font-size: 12px;
    color: #fff;
    background-color: #111;
    visibility: hidden;
    bottom: 9px;
    position: relative;
    border-radius: 5px;
}
.compare{
    padding: 2px 14px;
    font-size: 12px;
    color: #fff;
    background-color: #111;
    visibility: hidden;
    bottom: 9px;
    position: relative;
    border-radius: 5px;
}
.quickView{
    padding: 2px 14px;
    font-size: 12px;
    color: #fff;
    background-color: #111;
    visibility: hidden;
    bottom: 9px;
    position: relative;
    border-radius: 5px;
}
.h1{
    top: 30rem;
    position: relative;
}