*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.trendingProduct{
    height: 100%;
    width: 100%;
}
.productContainer{
    width: 96%;
    margin: auto;
    position: absolute;
}
.productContents{
    position: absolute;
    display: block;
 
}
 .image{
    width: 300px;
    height: 400px;
    display: block;
   
}
/* overlay add  */
.overlaySection{
    position: absolute; 
  bottom: 0; 

  /* background: rgba(0, 0, 0, 0.5);  */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  /* padding: 20px; */
  text-align: center;
  height:160px
}
.productContents:hover .overlaySection{
    opacity: 1;
}
/* icon  */
.iconSection{
    display: flex;
   
    justify-content: center;
    align-items: center;
    color: black;
    margin: 10px 0 30px 0;
}
.iconSection .IconOverlay{
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 100%;
    bottom: .1rem;
    position: relative;
}


.IconOverlay:hover {
    background-color: #0dcaf0;
  
}
.heart:hover .wishlist{
    visibility: visible;
}
.arrow:hover .compare{
    visibility: visible;
}
.eye:hover .quickView{
    visibility: visible;
}

.wishlist{
    padding: 2px 14px;
    font-size: 12px;
    color: #fff;
    background-color: #111;
    visibility: hidden;
    bottom: 9px;
    position: relative;
    border-radius: 5px;
}
.compare{
    padding: 2px 14px;
    font-size: 12px;
    color: #fff;
    background-color: #111;
    visibility: hidden;
    bottom: 9px;
    position: relative;
    border-radius: 5px;
}
.quickView{
    padding: 2px 14px;
    font-size: 12px;
    color: #fff;
    background-color: #111;
    visibility: hidden;
    bottom: 9px;
    position: relative;
    border-radius: 5px;
}


/* icon end  */

/* select option field  */

.selectOption button{
    border: 0;
}
.selectOptionTitle {
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.384);
    right: 0;
    left: 0;
    bottom: -17px;
    position: absolute;
    color: #f1f1f1;
    border: 0;
    font-size: 15px;
}
.sortP{
    padding: 20px 0;
    background-color: #111;
    right: 0;
    left: 0;
    bottom: 1px;
    position: absolute;
    color: #f1f1f1;
    border: 0;


}
.selectOptionTitle:hover{
    background-color: #0dcaf0;
}



/* new stage of product info section */
.productInfo{
    width: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 6px;
    padding: 0 0 2rem 0;
    /* position: absolute; */
  
}

.iconsRating{
    display: flex;
    gap: 8px;
    margin-top: 26rem;
    justify-content: center;
    
   
}
.numProduct .oneItem{
    padding-top: 26.2rem;
    font-size: 12px;
    color: #111111b9;

}





