*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.trending{
    height: 100%;
    width: 100%;
}
.trendingBody .trendTitle{
    color: gray;
    font-size: 40px;
    font-weight: 500;
    line-height: 20px;
    padding-left: 1rem;
}
.trendingSort{
    color: #111;
}