* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.trending {
  height: 100%;
  width: 100%;
}

.trendingBody {
  display: flex;
  justify-content: space-between;

}
.infoContent{
  display: flex;
}

.trendingBody .trendTitle {
  color: #8f8a8a;
  font-size: 40px;
  font-weight: 500;
  line-height: 20px;
  padding-left: 1rem;
}

/* .trendingSort {
  color: #fff;
} */

.downArrow {
  right: 1rem;
  position: relative;


}

.trendingHr {
  right: .5rem;
  position: relative;
}

.nav_link {
  margin: 0 0 6rem 0;
}

/* nav links start */
.dropbtn {
  color: #111;
  font-size: 16px;
  border: none;
  border: 0;
  font-weight: 500;
  text-decoration: none;
  font-size: 40px;
  padding: 0 0 0rem .5rem;
  bottom: 1.1rem;
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f16e;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 111;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: 500;
}

.dropdown-content a:hover {
  color:#007bff;;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* hovar dropdown end  */

.showMorePro a{
  text-decoration: none;
 

}
.showMorePro .showAllTitle{
  font-size: 16px;
  margin-left: 5.8rem;
  color: #111;
  font-weight: 700;

}

.showAllHr{
  width: 125px; 
  height: 1px;
  margin:0.4rem 0rem  0px 6rem; 
  background: rgb(82, 77, 77);
}
.showAllTitle:hover hr{
  display: none;
  position: relative;
 
}

.hhhh {
  bottom: 3rem;
  position: relative;
}