*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.CartGiftWarp{
    height: 100%;
    width: 100%;
}
.card-gifts-content{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
.cart-subTotal{
    display: inline-flex;
    gap: 11rem;
} 
.cart-subTotal .subTotal{
    font-size: 18px;
    font-weight: 700;
    color: #201f1f;
}
.cart-subTotal .amount{
    font-size: 15px;
    font-weight: 700;
    color: #201f1f;
}