*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.productShowAll{
    height: 100%;
    width: 100%;
}
.proSoAlHead{
    display: flex;
    justify-content: space-between;
}
/* click links start */
.selectDrop{
    width: 200px;
    border: 1px solid #11111179;
    padding: .4rem 1rem;
    /* padding: 10px 20px; */
    border-radius:5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #535050d3;
  }
  
  .selectDrop:focus{
    outline:none;
  }
  .faSort{
    padding-left: 10px;
    color: #535050d3;
    right: 2.5rem;
    position: relative;

  }
   /* click dropdown end  */

   /* button click field  */
   .mdOutLine{
    padding: 1px 8px .4rem 8px;
    border: 1px solid #1111115e;
    border-radius: 50%;
    color: #535050d3;
   }
   .mdOutLine3{
    padding: 1px 8px .4rem 8px;
    /* border: 1px solid #1111115e; */
    border-radius: 50%;
    color: #535050d3;
    background-color: rgba(65, 204, 226, 0.89);
    
   }
   .mdOutLine:hover{
    background-color: rgba(65, 204, 226, 0.89);
    border: 0;
   }

   .sizeFilterSh{
    display: flex;
    gap: 1rem;
   }
   .show-page-content{
    margin-top: 3rem;
   }
