*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.productShowAll{
    height: 100%;
    width: 100%;
}
/* nav links start */
.dropbtnAll {
    color: #535050d3;
    font-size: 16px;
    border: none;
    border: 1px solid #11111179;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
   padding: .4rem 1rem;
    bottom: 1.1rem;
    position: relative;
  }
  .faSort{
    padding-left: 10px;
    color: #535050d3;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f16e;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 111;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: 500;
  }
  
  .dropdown-content a:hover {
    color:#007bff;;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* hovar dropdown end  */
